/* select all elements */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:20px;
  font-weight: 300;
  cursor:cell;
  /* list-style: none; */
}
 
::selection{
  color: white;
  background: slateblue;
}
 
/* header, main, footer */
header, main, footer {
  min-width: 100vw;
}
 
/* header */
header {
  display: inline-flex;
  justify-content:space-between;
  height:200px;
}
 
.logo {
  width: 10em;
  position:fixed;
}
 
/* body */
body {
  background-image: url('https://i.postimg.cc/63RpQKQr/Portfolio-image-added-brightness.png');
  background-repeat:repeat-y; /* repeats the backgound image vertically down the page */
  background-size:auto;
  background-position:left;
  background-repeat: repeat; /* duplicates the background image to the right to fill mirror the picture (image less stretched out) */
}
 
h2{
  color:slateblue;
  text-align-last: center;
}
 
h4{
  text-align-last: center
}
 
p{
  text-align-last: center;
}
 
ul{
  text-align-last: center;
}
 
.backgrndcolor{
  padding:15px;
  border:2px solid slateblue;
  border-style:dotted
}
 
/* images */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1;
  cursor:cell;
  border: 2px dotted slateblue;
}
 
/* form */
form{
text-align-last: center;
}
.formstyle{
  border: 2px dotted;
  border-color: slateblue;
  padding: 15px;
  width:fit-content;
  margin:auto;
}
 
/* input (form) */
/* don't know how to apply it to the message box */
input:focus{
  background-color: pink;
}
 
/* Navbar */
.menu{
  margin:auto;
}
.menu-list {
display:inline-flex;
list-style: none;
width:fit-content;
position: relative;
}
 
.menu-list li {
padding: 0 15px;
border: 2px dotted pink;
/* border-right:; */
margin:0 2em;
}
/* applied a hover effect to give a button illusion */
.menu-list li:hover{
  background-color:rgb(139, 209, 139);
  transition:2.5s;
  opacity: 0.75;
}
 
/* links */
/*remove link underline*/
a{
  text-decoration: none;
}
 
/* unvisited link */
a:link {
color: slateblue;
}
/* visited link */
a:visited {
color: slateblue;
}
/* mouse over link */
a:hover {
color: white;
}
/* selected link */
a:active {
color: white;
}
 
/* buttons */
 
/*project button*/
.projectlinkbutton{
  position:relative;
  background-color: rgb(139, 209, 139);
  border: 2px dotted slateblue;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;  
  width:fit-content;
  margin:auto;
}
 
.projectlinkbutton:hover{
  background-color:slateblue;
  transition:2.5s;
  opacity: 0.5;
}
.projectlinkbutton2{
  position:relative;
  background-color: rgb(139, 209, 139);
  border: 2px dotted slateblue;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;  
  width:fit-content;
  margin:auto;
}
 
.projectlinkbutton2:hover{
  background-color:slateblue;
  transition:2.5s;
  opacity: 0.5;
}
 
.projectlinkbutton3{
  position:relative;
  background-color: rgb(139, 209, 139);
  border: 2px dotted slateblue;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;  
  width:fit-content;
  margin:auto;
}
 
.projectlinkbutton3:hover{
  background-color:slateblue;
  transition:2.5s;
  opacity: 0.5;
}
 
/* submit button */
.submitbttn{
  position:relative;
  background-color: rgb(139, 209, 139);
  border: 2px solid slateblue;
  border-style:dotted;
  padding: 15px;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items:center;
  width: fit-content;
  margin: auto;
}
.submitbttn:hover{
  background-color:slateblue;
  transition:3s;
  opacity: 0.5;
}
 
/* back to top button */
.buttontop{
  position:relative;
  background-color: pink;
  border: 2px solid slateblue;
  border-style:dotted;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;  
  width:fit-content;
  margin:auto;
}
 
.buttontop:hover{
  background-color:slateblue;
  transition:2.5s;
  opacity: 0.5;
}

@media screen and (max-width: 800px){
  .flex-container{
      flex-direction: column;
  } 
  .flex-container aside{
      min-width:100%;
  }
  .flex-container main{
      margin-left:0;
      min-height: 50vh;
      margin-top:auto;
  }
  .logo{
      display:none;                                           /* hides the logo on smaller devices */
  }
}