/* select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
/* header, main, footer */
header, main, footer {
    min-width: 99vw;
    background-color:rgb(211, 211, 211);
}
/* header */
header {
    display: inline-flex;
    justify-content:space-between;
    background-color:slateblue;
}
.logo {
    width: 5em
}
/* .menu {
 
} */
 
/* Navbar */
.menu-list {
    display:inline-flex;
    list-style: none;
    color:pink
}
.menu-list li {
    padding: 0 10px
}
/* main */
.main {
 
}


